<div class="container">
    <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
        <a href="/admin" class="navbar-brand">Home</a>
        <a href="/userlist" class="nav-link">Customers</a>
        <a  href="/officerlist" class="nav-link ">Field Officers</a>
        <a href="/loanlist" class="nav-link ">Loan Requests</a>
        <a href="/assign" class="nav-link disabled">Assign</a>
        <a href="/adminfdquestionlist" class="nav-link ">Questions</a>
        <a href="/helplist" class="nav-link ">Help</a>
        <a href="/feedback" class="nav-link ">Feedback</a>
        <a href="/adminprofile" class="nav-link ">Profile</a>
        <a href="/login" class="nav-link ">Logout</a>
        
      </nav>
      <br>
</div>
<div class="form-group">
    <label>Field Officer Name</label>
    <input type="text" class="form-control">
 </div>

 <div class="form-group">
    <label>Loan Id </label>
    <input type="text" class="form-control">
 </div>

 <br>
        <div class="form-group">
            <a href="" class="btn btn-lg btn-primary form-control">Save</a>&nbsp;
            <button type="reset" class="btn btn-lg btn-secondary form-control">Reset</button>
        </div>
 