<div class="container">
    <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
        <a href="/customer" class="navbar-brand">Home</a>
        <a href="/loanentry" class="nav-link ">Apply Loan</a>
        <a href="/loanlist" class="nav-link ">Loan Requests</a>
        <a href="ask-question" class="nav-link ">Ask Question</a>
        <a  class="nav-link ">Help</a>
        <a href="feedback-question" class="nav-link ">Give Feedback</a>
        <a href="/customerprofile" class="nav-link ">Profile</a>
        <a href="/login" class="nav-link ">Logout</a>
        
      </nav>
      <br>
    <div class="header">
      <div class="list-row">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search text here..." [(ngModel)]="filter" />
          </div>
      </div>
    </div>
</div>
