<div class="container">
  <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
      <a href="/customer" class="navbar-brand">Home</a>
      <a href="/userlist" class="nav-link">Customers</a>
      <a  class="nav-link ">Loan Requests</a>
      <a  class="nav-link ">Update loan</a>
      <a  class="nav-link ">Questions</a>
      <a  class="nav-link ">Help</a>
      <a  class="nav-link ">Feedbacks</a>
      <a  class="nav-link ">Profile</a>
      <a href="/login" class="nav-link ">Logout</a>
      
    </nav>
    <br>
  <div class="header">
    <div class="list-row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search text here..." [(ngModel)]="filter" />
        </div>
    </div>
  </div>
</div>
